<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="~{layout::head}"></div>
</head>
<body>
<div th:replace="~{layout::header1}"></div>
<div th:replace="~{layout::header2}"></div>
<div th:replace="~{layout::navbar}"></div>
<div th:replace="~{layout::content}"></div>
<div th:replace="~{layout::footer}"></div>
</body>
<script src="/bootstrap-5.2.3-dist/js/bootstrap.js"></script>
<script src="/jquery-3.6.3.min.js"></script>
</html>